<div class="text-center">
    <h1 class="display-4">Bem Vindo !!!</h1>
    <p>Visite o <a href="https://www.universal.org/" target="_blank">Site Ofocial da I.U.R.D.</a></p>
</div>

<hr />

<div class="container">

    <div class="row" style="text-align:center;">
        <div class="col col-lg-6 col-md-6 col-sm6">
            <h3 style="font-family: monotype corsiva;"><strong><em>IGREJA UNIVERSAL DO REINO DE DEUS  JESUS CRISTO É O SENHOR !</em></strong></h3>
            <img style="vertical-align:initial" src="~/img/Principal.webp" height="250" width="300" />
        </div>

        <div class="col col-lg-6 col-md-6 col-sm6">
            <p style="text-indent: 50px; padding: 5px; font-size: 20px;" class=" text-justify">
                Site Dedicado ao controle dos grupos existentes na Igreja Universal do Reino de Deus
                para controle dos membros de cada um de seus grupos, sendo por exemplo: EVG, Caleb, Hospital etc...
                O Sistema permite cadastro, alteração e exclusão de novo grupo, novo membro e junção de grupos e membros,
                contando com um sistema de "filtro" por código do grupo para facilitar auma busca especifica.
            </p>
        </div>
    </div>

    <br />

    <div class="row" style="text-align:center;">
        <div class="col col-lg-12">
            <p style="text-indent: 50px;" class=" text-justify">
                <strong>
                    Quem serve a Deus espera só bondade do seu Senhor.
                    Desfruta da Sua fortaleza no dia da angústia, pois Deus conhece todos os pensamentos
                    e intenções do coração daqueles que são amados por Ele.
                    (Naum 1.7)
                </strong>
            </p>
        </div>
    </div>

    <br />

    <div style="margin-top: 20px">
        <hr />
        <p>@DateTime.Now.Year - IURD - Grupos e Membros - Por Paulo Bruno &reg;</p>
    </div>
